{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo</title>
  <!--  <link rel="stylesheet" href="./css01.css"> -->
    <link rel="stylesheet" href="{% static 'styles/css01.css' %}">
  <!--  <link rel="stylesheet" href="./css02.css"> -->
    <link rel="stylesheet" href="{% static 'styles/css02.css' %}">

</head>
<body>
<div class="create_container">
    <input 
    type="text" 
    class="create_input"
    placeholder="напишите сюда новую задачу"
    />
    <button class="create_button">добавит</button>
</div>

  <div class="todo_container">


<section>

    <div class="todo_item">
   <div class="todo_item_header">
       <label class="checkbox_container">
           <input type="checkbox" />
           <span class="checkmark"></span>
       </label>
       <h4>куптль молоко</h4>
   </div> 
   <div class="todo_item_footer">
       <p>21.1.2021 <span>14:00</span></p>
    <div class="action_buttons">
        <img src="./tools-3.png"> 
        <img src="./tools-4.png"> 
    </div>   
   </div>
    </div>

    <div class="todo_item marked">
    <div class="todo_item_header">
        <label class="checkbox_container">
            <input type="checkbox" />
            <span class="checkmark"></span>
        </label>
        <h4>куптль молоко</h4>
    </div> 
    <div class="todo_item_footer">
        <p>21.1.2021 <span>14:00</span></p>
     <div class="action_buttons">
         <img src="./tools-3.png"> 
         <img src="./tools-4.png"> 
     </div>   
    </div>
    </div>

    <div class="todo_item done">
    <div class="todo_item_header">
        <label class="checkbox_container">
            <input type="checkbox" />
            <span class="checkmark"></span>
        </label>
        <h4>куптль молоко</h4>
    </div> 
    <div class="todo_item_footer">
        <p>21.1.2021 <span>14:00</span></p>
     <div class="action_buttons">
         <img src="./tools-3.png"> 
         <img src="./tools-4.png"> 
     </div>   
    </div>
    </div>

    <div class="todo_item marked">
    <div class="todo_item_header">
        <label class="checkbox_container">
            <input type="checkbox" />
            <span class="checkmark"></span>
        </label>
        <h4>куптль молоко</h4>
    </div> 
    <div class="todo_item_footer">
        <p>21.1.2021 <span>14:00</span></p>
     <div class="action_buttons">
         <img src="./tools-3.png"> 
         <img src="./tools-4.png"> 
     </div>   
    </div>
    </div>

    <div class="todo_item">
    <div class="todo_item_header">
        <label class="checkbox_container">
            <input type="checkbox" />
            <span class="checkmark"></span>
        </label>
        <h4>куптль молоко</h4>
    </div> 
    <div class="todo_item_footer">
        <p>21.1.2021 <span>14:00</span></p>
     <div class="action_buttons">
         <img src="./tools-3.png"> 
         <img src="./tools-4.png"> 
     </div>   
    </div>
    </div>


    <div class="todo_item done">
    <div class="todo_item_header">
        <label class="checkbox_container">
            <input type="checkbox" />
            <span class="checkmark"></span>
        </label>
        <h4>куптль молоко</h4>
    </div> 
    <div class="todo_item_footer">
        <p>21.1.2021 <span>14:00</span></p>
     <div class="action_buttons">
         <img src="./tools-3.png"> 
         <img src="./tools-4.png"> 
     </div>   
    </div>
    </div>


  </div>


 </section>    
</body>
</html>